<!DOCTYPE html>
<html>
<head>
  <title>Edit Product</title>
  <link href="/css/style.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-gray-100 flex justify-center items-center h-screen">
  <form method="POST" action="/admin/edit/<%= product._id %>" class="bg-white p-6 shadow rounded w-96">
    <h1 class="text-2xl font-bold mb-4">Edit Product</h1>
    <input name="name" value="<%= product.name %>" class="w-full p-2 border mb-3" required>
    <input name="price" type="number" value="<%= product.price %>" class="w-full p-2 border mb-3" required>
    <input name="stock" type="number" value="<%= product.stock %>" class="w-full p-2 border mb-3" required>
    <input type="file" name="image" value="<%= product.image %>" class="w-full p-2 border mb-3">
    <input name="category" value="<%= product.category %>" class="w-full p-2 border mb-3">
    <textarea name="description" class="w-full p-2 border mb-3"><%= product.description %></textarea>
    <button class="bg-blue-600 text-white px-4 py-2 w-full rounded">Update</button>
  </form>
</body>
</html>
